<%- model_class = Message -%>
<div class="span12">
<div class="span8">
<% if @messages %>
	<% @messages.each do |msg| %> 

	<div class="page-header span7">
	 	<h2><%= link_to msg.name, msg %></h2>
	</div>
	<div class="span7 ">
	    <%= msg.try(:content) %>
	</div>
	<div class="span7 alt_cizgi">
	<b> Ekleyen Kişi   : </b> <span class="date"><%=  msg.try(:user).try(:name)  %></span>
	<b> Kategorisi 	   : </b> <span class="date"><%= msg.category.try(:name) %></span>
	<b> Eklenme Tarihi : </b> <span class="date"><%=  msg.try(:created_at).strftime("%d-%m-%Y / %H:%M") %></span>
	<b> Yorum Sayısı   : </b> <span class="date"></span>
	
</div>

	<% end %>
<% end %>
</div>
<div class="span3">
           <div class="well sidebar-nav">
              <h3>Kategoriler</h3>
                <ul class="nav nav-list">
                  <% @categories.each do |c| %>  
                <li> <%= link_to c.try(:name), messages_path(:category_id => c.id) %> </li>
                <% end %>
              </ul>
            </div>
            <div class="well sidebar-nav">
              <h3>Başlıklar</h3>
                <ul class="nav nav-list">
                  <% @last_message.each do |c| %>  
                <li> <%= link_to c.try(:name) %> </li>
                <% end %>
              </ul>
            </div>
           <!--/.well -->
          </div>
          </div>




















